*{margin: 0px;padding: 0px;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
body{
	background:#999999;
}
#box{
	width: 310px;
	height: auto;
	border: 1px solid #999;
	margin: 0px auto;
	text-align: center;
	padding-top: 150px;
}
#box img{
	margin-top:20px;
}
#box2{
	width:310px ;
	height:50px ;
	/*border: 1px royalblue solid;*/
	background: #cccccc;
	margin-top:30px;
}
#box2 img{
	float: left;
	margin: 10px 11px;
}
#box2 input{
	outline:none;
	border:1px solid #cccccc;
	background:#cccccc;
	border-left: 1px solid #fff;
	width:235px ;
	height: 30px;
	color: #fff;
	margin-top: 10px;
	padding-left:10px;
}
#box3{
	width:310px ;
	height:50px ;
	/*border: 1px royalblue solid;*/
	background: #cccccc;
	margin-top:10px;
}
#box3 img{
	float: left;
	margin: 10px 11px;
}
#box3 input{
	outline:none;
	border:1px solid #cccccc;
	background:#cccccc;
	border-left: 1px solid #fff;
	width:235px ;
	height: 30px;
	color: #fff;
	margin-top: 10px;
	padding-left:10px;
}
#box4{
	width: 310px;
	height: 17px;
	/*background: #fff;*/
	margin-top: 10px;
}
#box4 input{
	float: left;
	margin-left: 2px;
	margin-top: 3px;
}
#box4 p{
	font:13px/17px "微软雅黑";
	float: left;
	color: #fff;	
}
#box4 a{
	float:right;
	color: #fff;
	font:13px/17px "微软雅黑";
}
#box5{
	width: 310px;
	height: 89px;
	background: #999;
}
#box5 input{
	width: 300px;
	height: 50px;
	background: #000;
	color: #fff;
	margin-top: 9px;
	outline:none;
	border: 1px solid #000;
	font-size: 18px;
	cursor: pointer;
}
#box6{
	width: 310px;
	height: 40px;
	background: #999;
}
#box6 ul li{
	float: left;
	margin-left: 10px;
	height: 40px;
	margin-top: -10px;
	opacity: 1;
}
#box6 ul li:hover{
	opacity: 0.3;
}
.a1{
	color: #fff;
	font:14px/30px "微软雅黑";
	float: right;
	border-bottom: 1px #fff solid;
}
#box7{
	width: 121px;
	height: 40px;
	color: #FFFFFF;
	font:11px/40px "微软雅黑";
	
	position: fixed;left:100%;margin-left:-150px;top:100% ;margin-top:-60px;
}
#box7 img{
	width: 60px;
	height: 40px;
	float: right;
}
