*{
	margin:0px;
	padding:0px;
}
img{
	border: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.Header{
	width:100%;
	height:56px;
	background:#25292e;
}
header{
	width:1000px;
	height:56px;
	margin:0 auto;
	position: relative;
}
header .logo{
	width:95px;
	height:38px;
	background:url(../img/icon.png);
	display:block;
	float:left;
	opacity: 1;
	filter: alpha(opacity=100);
	margin:9px 0 9px 0;
	-webkit-transition: all .5s;
}
header .logo:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
header ul{
	float:right;
}
header ul li{
	font-size:12px;
	line-height:56px;
	letter-spacing: 1px;
	padding:0 15px;
	float:left;
}
header ul li a{
	color:#666;
}
header ul li.line{
	width:1px;
    height:8px;
    margin-top:25px;
    padding:0;
    background:#525961;
}
header ul li.last{
	padding-right:0px;
}
header ul li.last a{
  -webkit-transition: all .3s;
  /*渐变属性*/
}
header ul li .login{
	margin-right:8px;
}
header ul li .login,header ul li .register{
	color:#ccc;
}
.cart{
	width:320px;
	position:absolute;top:56px;right:0px;
	background:#292f34;
	display: none;
	z-index: 5;
}
header ul .shoppingcart:hover{
	background-image:-webkit-linear-gradient(to bottom,#25292e,#292f34);
	background-image:linear-gradient(to bottom,#25292e,#292f34);
}
header ul .shoppingcart:hover a{
	color:#ccc;
}
header ul .shoppingcart:hover .cart{
	display:block;
}
header ul .message:hover{
	background-image:-webkit-linear-gradient(to bottom,#25292e,#292f34);
	background-image:linear-gradient(to bottom,#25292e,#292f34);
}
header ul .message:hover a{
	color:#ccc;
}
header ul .message:hover .messages{
	display:block;
}
header ul .last:hover a{
	color:#ccc;
}
.cart .goods{
	width:280px;
	height:70px;
	padding:0 20px;
	text-align: center;
}
.cart .goods a{
	line-height:70px;
	font-size:13px;
}
.cart .addgoods{
	width:320px;
	height:50px;
	line-height:50px;
	font-size:13px;
	color:#ccc;
	background: #7dbfde;
	display:block;
	text-align: center;
}
.cart .addgoods:hover{
	background: #96c8e0;
}
.messages{
	width:190px;
	font-size:14px;
	line-height:44px;
	position:absolute;top:56px;right:0px;
	background:#292f34;
	display: none;
	z-index: 5;
}
.messages a{
	width:160px;
	height:45px;
	padding: 0 15px;
	display:block;
	-webkit-transition: all .3s;
}
.messages a span{
	width:160px;
	height:44px;
	color:#ccc;
	border-bottom:1px solid #3f4449;
	display:block;
}
.messages a:hover{
	background: #2e353d;
}
.messages a span.last{
	border-bottom:none;
}
.messages a span small{
	color:#ccc;
	float:right;
}
.Nav{
	width:100%;
	height:49px;
	margin-bottom: 25px;
}
.nav{
	width:1000px;
	height:45px;
	border-bottom: 4px solid #ededed;
	margin:0 auto;
}
.nav ul{
	float:left;
}
.nav ul li{
	width:164px;
	font-size:16px;
	line-height: 45px;
	float:left;
}
.nav ul li.home{
	width:118px;
}
.nav ul li.last{
	width:121px;
}
.nav ul li>a{
	width:121px;
	height:45px;
	color:black;
	text-align: center;
	display: block;
	border-bottom: 4px solid #ededed;
}
.nav ul li.home>a{
	width:118px;
	text-align: left;
	display: block;
}
.nav ul li>a:hover{
	border-color:#25292e;
}
.nav .search{
	width:260px;
	height:45px;
	border-bottom: 4px solid #ededed;
	float:right;
}
.nav .search .searchkey{
	width:33px;
	height:40px;
	margin-top:3px;
	margin-right:13px;
	float:right;
	display: block;
	background: url(../img/icon.png) -167px -145px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all .3s;
}
.nav .search .searchkey:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.banner{
	width:1000px;
	height:475px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}
.banner ul{
	width:4000px;
	float: left;
	position:absolute;left:0;top:0;
}
.banner ul li{
	width:1000px;
	height:475px;
	float: left;
}
.banner .left{
	width:130px;
	height:470px;
	position:absolute;left:0;top:0;
}
.banner .right{
	width:130px;
	height:470px;
	position:absolute;right:0;top:0;
}
.banner .left .pre{
    width: 50px;
    height: 50px;
    display: none;
    margin-top: -25px;
    z-index: 10;
    position: absolute;top: 50%;left: 32px;
    border-radius:50%;
    cursor: pointer;
    background: url(../img/normal_left.png);
    /*opacity: 0;
    filter: alpha(opacity=0);*/
}
.banner .right .next{
    width: 50px;
    height: 50px;
    display: none;
    margin-top: -25px;
    z-index: 10;
    position: absolute;top: 50%;right: 32px;
    border-radius:50%;
    cursor: pointer;
    background: url(../img/normal_right.png);
}
.banner:hover .pre,.banner:hover .next{
	display:block;
}
.banner .left:hover .pre{
	background:url(../img/circle_left_arrow1.png);
	
}
.banner .right:hover .next{
	background:url(../img/circle_right_arrow1.png);
}
.bannerButton{
	width:1000px;
	height:32px;
	margin:0 auto;
	margin-top:3px;
	text-align: center;
	position: relative;
}
.bannerButton a{
	width:78px;
	height:4px;
	display: block;
	position:absolute;left:50%;top:7px;
	margin-left:-39px;
}
.bannerButton span{
	width:20px;
	height:4px;
	display:block;
	float:left;
	background:#e8e8e8;
	margin:0 3px;
	cursor: pointer;
}
.bannerButton span.activecolor{
	background:#45494d;
}
.main_1{
	width:1000px;
	height:405px;
	margin:0 auto;
	margin-top:10px;
}
.main_1 div div{
	height:192px;
	float:left;
}
.main_1_l,.main_1_m,.main_1_r{
	width:319px;
	height:403px;
	margin-right:21px;
	float:left;
}
.main_1_r{
	margin-right:0px;
}
.main_1_lt,.main_1_rt{
	margin-bottom: 21px;
}
.main_2_title{
	width:1000px;
	height:38px;
	border-bottom: 1px solid #ccc;
	margin:36px auto 20px auto;
}
.main_2_title h5{
	font-size: 12px;
	line-height:38px;
	font-weight: normal;
	text-align: center;
}
.main_2{
	width:1000px;
	height:auto;
	margin:20px auto 10px auto;
	background: bisque;
}
.main_2 ul li{
	float:left;
}
.main_2 ul li .goods{
	width:316px;
	height:366px;
}
.main_2 ul li .goods img{
	width:316px;
	height:316px;
}
.main_2 ul li .goods .bar{
	width:316px;
	height:40px;
	
}
