

* {
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
#box {
	width: 100%;
	height: 100vh;
	background: url(../img/bg.jpg);
	background-size: 100%;
	background-position-y: 0;  
}
#showScore{
	width:100px;
	height:30px;
	background: gray;
	position: fixed;
	right:0px;
	top:0px;
	border: 2px solid darkgray;
	font-size: 14px;
	line-height:30px;
	
}
#logo{
	width:428px;
	height:104px;
	background: url(../img/logo.png);
	position:fixed;
	left:50%;
	top:20%;
	margin-left:-214px;
	z-index: 10;
}
.loading{
	width:192px;
	height:41px;
	position:fixed;
	left:50%;
	top:35%;
	margin-left:-96px;
}
.myPlane{
	width:98px;
	height:122px;
	background: url(../img/me.png);
	position: absolute;
	left:48%;
	top:80vh;
	z-index:2;
}
.bullet{
	width:7px;
	height:18px;
	background: url(../img/bullet.png);
	position: absolute;
	z-index:1;
}
.smallPlane{
	width:59px;
	height:36px;
	background: url(../img/plain1.png);
	position: absolute;
}
.mediumPlane{
	width:70px;
	height:92px;
	background: url(../img/plain2.png);
	position: absolute;
}
.bigPlane{
	width:165px;
	height:256px;
	background: url(../img/plain3.png);
	position: absolute;
}
.bulletBoom{
	width:41px;
	height:39px;
	position: absolute;
	margin-left:-20px;
	margin-top:-8px;
	z-index: 10;
}
.linian{
	width:166px;
	height:186px;
	background: url(../img/boss1.png) no-repeat;
	background-size: cover;
	position: absolute;
}
.bossHp{
	height:20px;
	line-height: 20px;
	background: red;
	position: fixed;
	top:0;
	left:30%;
	border-radius: 5px;
	opacity: 0.5;
}
.haojiao{
	width:20px;
	height:20px;
	background: url(../img/die2.png);
	background-size:cover;
	position: absolute;
}
